*.scssc
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncrunchproject
*.ncrunchsolution
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ncrunchproject
*.ncrunchsolution
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
_sgbak
*.vspscc
*.vssscc
packages
/build
/data
/.vs
obj/Debug